<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHClojureRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHDartRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHGitHubRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>facebook/react-native</key>
			<dict>
				<key>date</key>
				<date>2023-05-26T14:26:03Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>facebook/react-native</string>
					<key>platform</key>
					<string>github</string>
					<key>uniqueIdentifier</key>
					<string>facebook/react-native</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHaskellRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>axon</key>
			<dict>
				<key>date</key>
				<date>2023-08-17T17:35:55Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>axon</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>axon</string>
				</dict>
			</dict>
			<key>bamboo</key>
			<dict>
				<key>date</key>
				<date>2023-01-09T14:44:38Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>bamboo</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>bamboo</string>
				</dict>
			</dict>
			<key>bandit</key>
			<dict>
				<key>date</key>
				<date>2023-11-29T16:39:20Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>bandit</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>bandit</string>
				</dict>
			</dict>
			<key>bcrypt_elixir</key>
			<dict>
				<key>date</key>
				<date>2023-08-27T03:26:41Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>bcrypt_elixir</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>bcrypt_elixir</string>
				</dict>
			</dict>
			<key>bootleg</key>
			<dict>
				<key>date</key>
				<date>2021-03-12T15:53:42Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>bootleg</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>bootleg</string>
				</dict>
			</dict>
			<key>calendar</key>
			<dict>
				<key>date</key>
				<date>2021-07-26T14:48:34Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>calendar</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>calendar</string>
				</dict>
			</dict>
			<key>chromic_pdf</key>
			<dict>
				<key>date</key>
				<date>2023-09-28T14:10:59Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>chromic_pdf</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>chromic_pdf</string>
				</dict>
			</dict>
			<key>comeonin</key>
			<dict>
				<key>date</key>
				<date>2023-08-27T03:26:42Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>comeonin</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>comeonin</string>
				</dict>
			</dict>
			<key>credo</key>
			<dict>
				<key>date</key>
				<date>2023-12-07T15:09:19Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>credo</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>credo</string>
				</dict>
			</dict>
			<key>csv</key>
			<dict>
				<key>date</key>
				<date>2023-11-26T20:47:47Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>csv</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>csv</string>
				</dict>
			</dict>
			<key>db_connection</key>
			<dict>
				<key>date</key>
				<date>2023-10-16T13:34:10Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>db_connection</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>db_connection</string>
				</dict>
			</dict>
			<key>decimal</key>
			<dict>
				<key>date</key>
				<date>2023-04-27T15:38:38Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>decimal</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>decimal</string>
				</dict>
			</dict>
			<key>ecto</key>
			<dict>
				<key>date</key>
				<date>2023-12-07T15:09:17Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>ecto</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>ecto</string>
				</dict>
			</dict>
			<key>ecto_sql</key>
			<dict>
				<key>date</key>
				<date>2023-12-07T15:09:13Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>ecto_sql</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>ecto_sql</string>
				</dict>
			</dict>
			<key>ex_doc</key>
			<dict>
				<key>date</key>
				<date>2023-10-20T14:11:34Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>ex_doc</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>ex_doc</string>
				</dict>
			</dict>
			<key>ex_machina</key>
			<dict>
				<key>date</key>
				<date>2021-03-05T15:34:49Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>ex_machina</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>ex_machina</string>
				</dict>
			</dict>
			<key>explorer</key>
			<dict>
				<key>date</key>
				<date>2023-12-01T20:47:51Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>explorer</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>explorer</string>
				</dict>
			</dict>
			<key>faker</key>
			<dict>
				<key>date</key>
				<date>2022-01-20T02:40:08Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>faker</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>faker</string>
				</dict>
			</dict>
			<key>finitomata</key>
			<dict>
				<key>date</key>
				<date>2023-08-24T14:00:10Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>finitomata</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>finitomata</string>
				</dict>
			</dict>
			<key>fsmx</key>
			<dict>
				<key>date</key>
				<date>2023-08-09T14:16:31Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>fsmx</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>fsmx</string>
				</dict>
			</dict>
			<key>fun_with_flags</key>
			<dict>
				<key>date</key>
				<date>2023-08-29T13:50:16Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>fun_with_flags</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>fun_with_flags</string>
				</dict>
			</dict>
			<key>gen_state_machine</key>
			<dict>
				<key>date</key>
				<date>2023-07-13T14:21:41Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>gen_state_machine</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>gen_state_machine</string>
				</dict>
			</dict>
			<key>goth</key>
			<dict>
				<key>date</key>
				<date>2023-08-24T14:00:09Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>goth</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>goth</string>
				</dict>
			</dict>
			<key>guardian</key>
			<dict>
				<key>date</key>
				<date>2023-09-12T14:38:41Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>guardian</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>guardian</string>
				</dict>
			</dict>
			<key>horde</key>
			<dict>
				<key>date</key>
				<date>2023-09-16T16:08:02Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>horde</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>horde</string>
				</dict>
			</dict>
			<key>jason</key>
			<dict>
				<key>date</key>
				<date>2023-07-07T14:54:05Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>jason</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>jason</string>
				</dict>
			</dict>
			<key>joken</key>
			<dict>
				<key>date</key>
				<date>2023-01-30T20:31:42Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>joken</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>joken</string>
				</dict>
			</dict>
			<key>kino</key>
			<dict>
				<key>date</key>
				<date>2023-11-15T15:06:58Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>kino</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>kino</string>
				</dict>
			</dict>
			<key>kino_vega_lite</key>
			<dict>
				<key>date</key>
				<date>2023-11-17T06:54:15Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>kino_vega_lite</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>kino_vega_lite</string>
				</dict>
			</dict>
			<key>mox</key>
			<dict>
				<key>date</key>
				<date>2023-09-20T14:05:33Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>mox</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>mox</string>
				</dict>
			</dict>
			<key>myxql</key>
			<dict>
				<key>date</key>
				<date>2023-12-04T14:25:39Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>myxql</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>myxql</string>
				</dict>
			</dict>
			<key>nanoid</key>
			<dict>
				<key>date</key>
				<date>2023-07-13T13:47:28Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>nanoid</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>nanoid</string>
				</dict>
			</dict>
			<key>nebulex</key>
			<dict>
				<key>date</key>
				<date>2023-07-16T15:00:46Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>nebulex</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>nebulex</string>
				</dict>
			</dict>
			<key>nimble_csv</key>
			<dict>
				<key>date</key>
				<date>2022-08-04T13:57:04Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>nimble_csv</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>nimble_csv</string>
				</dict>
			</dict>
			<key>nimble_options</key>
			<dict>
				<key>date</key>
				<date>2023-04-21T13:33:37Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>nimble_options</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>nimble_options</string>
				</dict>
			</dict>
			<key>norm</key>
			<dict>
				<key>date</key>
				<date>2021-07-26T20:56:44Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>norm</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>norm</string>
				</dict>
			</dict>
			<key>nx</key>
			<dict>
				<key>date</key>
				<date>2023-11-13T14:01:51Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>nx</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>nx</string>
				</dict>
			</dict>
			<key>oban</key>
			<dict>
				<key>date</key>
				<date>2023-10-26T17:56:25Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>oban</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>oban</string>
				</dict>
			</dict>
			<key>open_api_spex</key>
			<dict>
				<key>date</key>
				<date>2023-08-23T14:00:09Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>open_api_spex</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>open_api_spex</string>
				</dict>
			</dict>
			<key>opentelemetry</key>
			<dict>
				<key>date</key>
				<date>2023-08-16T17:00:03Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>opentelemetry</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>opentelemetry</string>
				</dict>
			</dict>
			<key>opentelemetry_api</key>
			<dict>
				<key>date</key>
				<date>2023-08-16T17:00:03Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>opentelemetry_api</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>opentelemetry_api</string>
				</dict>
			</dict>
			<key>opentelemetry_exporter</key>
			<dict>
				<key>date</key>
				<date>2023-06-23T17:46:43Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>opentelemetry_exporter</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>opentelemetry_exporter</string>
				</dict>
			</dict>
			<key>packmatic</key>
			<dict>
				<key>date</key>
				<date>2023-11-28T20:04:04Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>packmatic</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>packmatic</string>
				</dict>
			</dict>
			<key>phoenix</key>
			<dict>
				<key>date</key>
				<date>2023-11-03T14:17:33Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>phoenix</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>phoenix</string>
				</dict>
			</dict>
			<key>phoenix_html</key>
			<dict>
				<key>date</key>
				<date>2023-10-10T13:53:25Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>phoenix_html</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>phoenix_html</string>
				</dict>
			</dict>
			<key>phoenix_live_view</key>
			<dict>
				<key>date</key>
				<date>2023-10-09T13:53:29Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>phoenix_live_view</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>phoenix_live_view</string>
				</dict>
			</dict>
			<key>phoenix_pubsub</key>
			<dict>
				<key>date</key>
				<date>2023-06-28T18:47:12Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>phoenix_pubsub</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>phoenix_pubsub</string>
				</dict>
			</dict>
			<key>phoenix_template</key>
			<dict>
				<key>date</key>
				<date>2023-07-16T15:00:47Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>phoenix_template</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>phoenix_template</string>
				</dict>
			</dict>
			<key>phoenix_view</key>
			<dict>
				<key>date</key>
				<date>2023-10-30T14:17:31Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>phoenix_view</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>phoenix_view</string>
				</dict>
			</dict>
			<key>pigeon</key>
			<dict>
				<key>date</key>
				<date>2023-01-11T21:13:23Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>pigeon</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>pigeon</string>
				</dict>
			</dict>
			<key>plug</key>
			<dict>
				<key>date</key>
				<date>2023-11-14T14:38:42Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>plug</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>plug</string>
				</dict>
			</dict>
			<key>plug_cowboy</key>
			<dict>
				<key>date</key>
				<date>2023-03-17T14:00:03Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>plug_cowboy</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>plug_cowboy</string>
				</dict>
			</dict>
			<key>plug_crypto</key>
			<dict>
				<key>date</key>
				<date>2023-10-06T13:59:03Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>plug_crypto</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>plug_crypto</string>
				</dict>
			</dict>
			<key>sentry</key>
			<dict>
				<key>date</key>
				<date>2023-11-30T20:47:48Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>sentry</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>sentry</string>
				</dict>
			</dict>
			<key>surface</key>
			<dict>
				<key>date</key>
				<date>2023-11-08T14:34:32Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>surface</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>surface</string>
				</dict>
			</dict>
			<key>tesla</key>
			<dict>
				<key>date</key>
				<date>2023-10-26T17:56:23Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>tesla</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>tesla</string>
				</dict>
			</dict>
			<key>thousand_island</key>
			<dict>
				<key>date</key>
				<date>2023-11-29T16:39:30Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>thousand_island</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>thousand_island</string>
				</dict>
			</dict>
			<key>timex</key>
			<dict>
				<key>date</key>
				<date>2023-03-25T19:53:05Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>timex</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>timex</string>
				</dict>
			</dict>
			<key>tzdata</key>
			<dict>
				<key>date</key>
				<date>2021-11-02T01:26:09Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>tzdata</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>tzdata</string>
				</dict>
			</dict>
			<key>vega_lite</key>
			<dict>
				<key>date</key>
				<date>2023-08-19T18:42:58Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>vega_lite</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>vega_lite</string>
				</dict>
			</dict>
			<key>waffle</key>
			<dict>
				<key>date</key>
				<date>2023-02-12T02:39:50Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>waffle</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>waffle</string>
				</dict>
			</dict>
			<key>waffle_ecto</key>
			<dict>
				<key>date</key>
				<date>2023-02-03T20:31:42Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>waffle_ecto</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>waffle_ecto</string>
				</dict>
			</dict>
			<key>waffle_gcs</key>
			<dict>
				<key>date</key>
				<date>2022-03-01T17:25:55Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>waffle_gcs</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>waffle_gcs</string>
				</dict>
			</dict>
			<key>wallaby</key>
			<dict>
				<key>date</key>
				<date>2023-08-15T00:07:49Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>wallaby</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>wallaby</string>
				</dict>
			</dict>
			<key>zstream</key>
			<dict>
				<key>date</key>
				<date>2023-12-04T20:12:31Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>zstream</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>zstream</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict>
			<key>bcrypt</key>
			<dict>
				<key>date</key>
				<date>2021-01-05T20:46:26Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>bcrypt</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>bcrypt</string>
				</dict>
			</dict>
			<key>gearbox</key>
			<dict>
				<key>date</key>
				<date>2023-07-13T03:22:09Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>gearbox</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>gearbox</string>
				</dict>
			</dict>
			<key>machinery</key>
			<dict>
				<key>date</key>
				<date>2023-07-13T03:22:40Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>machinery</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>machinery</string>
				</dict>
			</dict>
			<key>phoenix_ecto</key>
			<dict>
				<key>date</key>
				<date>2023-05-10T14:21:39Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>phoenix_ecto</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>phoenix_ecto</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>DHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>Alpinejs</key>
			<dict>
				<key>date</key>
				<date>2021-12-14T18:38:09Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>AlpineJS</string>
						<string>alpine js</string>
						<string>alpine.js</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Alpinejs#readme</string>
					<key>authorLinkText</key>
					<string>Guill Lo</string>
					<key>name</key>
					<string>Alpine.js</string>
					<key>platform</key>
					<string>usercontribAlpinejs</string>
					<key>uniqueIdentifier</key>
					<string>Alpinejs</string>
				</dict>
			</dict>
			<key>Bulma</key>
			<dict>
				<key>date</key>
				<date>2021-09-16T14:31:40Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>Bulma.io</string>
						<string>bulma</string>
						<string>bulma io</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Bulma#readme</string>
					<key>authorLinkText</key>
					<string>Luca Critelli, Guill Lo</string>
					<key>name</key>
					<string>Bulma</string>
					<key>platform</key>
					<string>usercontribBulma</string>
					<key>uniqueIdentifier</key>
					<string>Bulma</string>
				</dict>
			</dict>
			<key>Kubernetes</key>
			<dict>
				<key>date</key>
				<date>2023-05-12T13:52:54Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>kubernetes</string>
						<string>kubectl</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Kubernetes#readme</string>
					<key>authorLinkText</key>
					<string>John Patterson</string>
					<key>name</key>
					<string>Kubernetes</string>
					<key>platform</key>
					<string>usercontribKubernetes</string>
					<key>uniqueIdentifier</key>
					<string>Kubernetes</string>
				</dict>
			</dict>
			<key>Tailwind_CSS</key>
			<dict>
				<key>date</key>
				<date>2023-12-07T15:09:12Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>tailwind</string>
						<string>TailwindCSS</string>
						<string>tailwind CSS</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Tailwind_CSS#readme</string>
					<key>authorLinkText</key>
					<string>Ben Booth, Guill Lo, Akinori Musha</string>
					<key>name</key>
					<string>Tailwind CSS</string>
					<key>platform</key>
					<string>usercontribTailwind_CSS</string>
					<key>uniqueIdentifier</key>
					<string>Tailwind_CSS</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>docsets</key>
	<dict>
		<key>keywords</key>
		<dict>
			<key>~/Library/Application Support/Dash/DocSets/Elixir/Elixir.docset</key>
			<string>ex:</string>
			<key>~/Library/Application Support/Dash/DocSets/JavaScript/JavaScript.docset</key>
			<string>js:</string>
			<key>~/Library/Application Support/Dash/DocSets/Man_Pages/Man Pages.docset</key>
			<string>man:</string>
			<key>~/Library/Application Support/Dash/DocSets/TypeScript/TypeScript.docset</key>
			<string>ts:</string>
			<key>~/Library/Application Support/Dash/GitHub/facebookreactnative/facebook-react-native.docset</key>
			<string>rn:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/axon/axon.docset</key>
			<string>axon:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/bamboo/bamboo.docset</key>
			<string>bamboo:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/bandit/bandit.docset</key>
			<string>bandit:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/bootleg/bootleg.docset</key>
			<string>bootleg:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/calendar/calendar.docset</key>
			<string>calendar:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/chromicpdf/chromic_pdf.docset</key>
			<string>chromic:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/credo/credo.docset</key>
			<string>credo:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/csv/csv.docset</key>
			<string>csv:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/dbconnection/db_connection.docset</key>
			<string>ecto:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/decimal/decimal.docset</key>
			<string>decimal:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/ecto/ecto.docset</key>
			<string>ecto:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/ectosql/ecto_sql.docset</key>
			<string>ecto:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/exdoc/ex_doc.docset</key>
			<string>ex_doc:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/exmachina/ex_machina.docset</key>
			<string>ex_machina:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/explorer/explorer.docset</key>
			<string>explorer:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/faker/faker.docset</key>
			<string>faker:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/finitomata/finitomata.docset</key>
			<string>fsm:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/fsmx/fsmx.docset</key>
			<string>fsm:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/funwithflags/fun_with_flags.docset</key>
			<string>flags:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/gearbox/gearbox.docset</key>
			<string>fsm:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/genstatemachine/gen_state_machine.docset</key>
			<string>fsm:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/goth/goth.docset</key>
			<string>goth:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/guardian/guardian.docset</key>
			<string>guardian:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/horde/horde.docset</key>
			<string>horde:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/jason/jason.docset</key>
			<string>jason:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/joken/joken.docset</key>
			<string>joken:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/kino/kino.docset</key>
			<string>kino:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/kinovegalite/kino_vega_lite.docset</key>
			<string>kino:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/machinery/machinery.docset</key>
			<string>fsm:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/mox/mox.docset</key>
			<string>mox:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/myxql/myxql.docset</key>
			<string>ecto:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/nanoid/nanoid.docset</key>
			<string>nanoid:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/nebulex/nebulex.docset</key>
			<string>nebulex:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/nimblecsv/nimble_csv.docset</key>
			<string>csv:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/nimbleoptions/nimble_options.docset</key>
			<string>opts:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/norm/norm.docset</key>
			<string>norm:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/nx/nx.docset</key>
			<string>nx:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/oban/oban.docset</key>
			<string>oban:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/openapispex/open_api_spex.docset</key>
			<string>spex:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/opentelemetry/opentelemetry.docset</key>
			<string>otel:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/opentelemetryapi/opentelemetry_api.docset</key>
			<string>otel:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/opentelemetryexporter/opentelemetry_exporter.docset</key>
			<string>otel:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/packmatic/packmatic.docset</key>
			<string>packmatic</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/phoenix/phoenix.docset</key>
			<string>phx:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/phoenixecto/phoenix_ecto.docset</key>
			<string>hex:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/phoenixhtml/phoenix_html.docset</key>
			<string>phx:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/phoenixliveview/phoenix_live_view.docset</key>
			<string>phx:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/phoenixpubsub/phoenix_pubsub.docset</key>
			<string>phx:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/phoenixtemplate/phoenix_template.docset</key>
			<string>phx:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/phoenixview/phoenix_view.docset</key>
			<string>phx:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/pigeon/pigeon.docset</key>
			<string>pigeon:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/plug/plug.docset</key>
			<string>plug:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/plugcowboy/plug_cowboy.docset</key>
			<string>plug:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/plugcrypto/plug_crypto.docset</key>
			<string>plug:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/scrivener/scrivener.docset</key>
			<string>scrivener:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/scrivenerecto/scrivener_ecto.docset</key>
			<string>scrivener:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/sentry/sentry.docset</key>
			<string>sentry:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/surface/surface.docset</key>
			<string>surface:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/tesla/tesla.docset</key>
			<string>tesla:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/thousandisland/thousand_island.docset</key>
			<string>bandit:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/timex/timex.docset</key>
			<string>timex:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/tzdata/tzdata.docset</key>
			<string>tzdata:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/vegalite/vega_lite.docset</key>
			<string>kino:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/waffle/waffle.docset</key>
			<string>waffle:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/waffleecto/waffle_ecto.docset</key>
			<string>waffle:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/wafflegcs/waffle_gcs.docset</key>
			<string>waffle:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/wallaby/wallaby.docset</key>
			<string>wallaby:</string>
			<key>~/Library/Application Support/Dash/Hex DocSets/zstream/zstream.docset</key>
			<string>zstream:</string>
			<key>~/Library/Application Support/Dash/User Contributed/Alpinejs/alpinejs.docset</key>
			<string>alpine:</string>
			<key>~/Library/Application Support/Dash/User Contributed/Tailwind CSS/tailwindcss.docset</key>
			<string>tailwind:</string>
			<key>~/Library/Application Support/Dash/Versioned DocSets/Elixir - DHDocsetDownloader/1-5-3/Elixir.docset</key>
			<string>ex1.5:</string>
			<key>~/Library/Application Support/Dash/Versioned DocSets/mime - DHHexRepo/1-6-0/mime.docset</key>
			<string>mime:</string>
		</dict>
	</dict>
	<key>feeds</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>http://kapeli.com/feeds/Android.xml</key>
			<dict>
				<key>date</key>
				<date>2021-10-21T18:01:30Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Angular.xml</key>
			<dict>
				<key>date</key>
				<date>2021-10-16T18:56:35Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Bootstrap_5.xml</key>
			<dict>
				<key>date</key>
				<date>2021-11-19T19:20:53Z</date>
			</dict>
			<key>http://kapeli.com/feeds/CSS.xml</key>
			<dict>
				<key>date</key>
				<date>2021-02-16T16:45:38Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Docker.xml</key>
			<dict>
				<key>date</key>
				<date>2021-03-25T18:52:44Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Elixir.xml</key>
			<dict>
				<key>date</key>
				<date>2021-01-05T20:40:39Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Erlang.xml</key>
			<dict>
				<key>date</key>
				<date>2021-01-05T20:42:15Z</date>
			</dict>
			<key>http://kapeli.com/feeds/HTML.xml</key>
			<dict>
				<key>date</key>
				<date>2021-02-16T15:07:26Z</date>
			</dict>
			<key>http://kapeli.com/feeds/JavaScript.xml</key>
			<dict>
				<key>date</key>
				<date>2021-03-01T16:17:47Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Lo-Dash.xml</key>
			<dict>
				<key>date</key>
				<date>2021-03-04T21:00:08Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Man_Pages.xml</key>
			<dict>
				<key>date</key>
				<date>2021-04-13T15:11:42Z</date>
			</dict>
			<key>http://kapeli.com/feeds/MomentJS.xml</key>
			<dict>
				<key>date</key>
				<date>2021-03-01T16:22:00Z</date>
			</dict>
			<key>http://kapeli.com/feeds/MySQL.xml</key>
			<dict>
				<key>date</key>
				<date>2021-01-11T16:52:03Z</date>
			</dict>
			<key>http://kapeli.com/feeds/PostgreSQL.xml</key>
			<dict>
				<key>date</key>
				<date>2021-01-22T16:20:59Z</date>
			</dict>
			<key>http://kapeli.com/feeds/React.xml</key>
			<dict>
				<key>date</key>
				<date>2021-04-19T20:05:41Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Rust.xml</key>
			<dict>
				<key>date</key>
				<date>2022-08-21T04:47:24Z</date>
			</dict>
			<key>http://kapeli.com/feeds/TypeScript.xml</key>
			<dict>
				<key>date</key>
				<date>2021-03-05T19:51:31Z</date>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>isPinned</key>
	<true/>
	<key>placeholderDelimiter</key>
	<string>__</string>
	<key>profiles</key>
	<array>
		<dict>
			<key>isDefault</key>
			<true/>
			<key>name</key>
			<string>Default</string>
			<key>searchSnippets</key>
			<true/>
			<key>triggers</key>
			<array>
				<dict>
					<key>description</key>
					<string>"all:" is typed in the main search field</string>
					<key>image</key>
					<string>searchKeywordIcon</string>
					<key>isKeywordTrigger</key>
					<true/>
					<key>keyword</key>
					<string>all:</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>icon</key>
			<string>Snippet</string>
			<key>name</key>
			<string>Snippets Only</string>
			<key>placeholder</key>
			<string>Search Snippets</string>
			<key>searchSnippets</key>
			<true/>
		</dict>
		<dict>
			<key>docsets</key>
			<array>
				<string>~/Library/Application Support/Dash/DocSets/Elixir/Elixir.docset</string>
				<string>~/Library/Application Support/Dash/DocSets/Erlang/Erlang.docset</string>
				<string>~/Library/Application Support/Dash/Hex DocSets/ecto/ecto.docset</string>
				<string>~/Library/Application Support/Dash/Hex DocSets/ectosql/ecto_sql.docset</string>
				<string>~/Library/Application Support/Dash/Hex DocSets/phoenix/phoenix.docset</string>
				<string>~/Library/Application Support/Dash/Hex DocSets/phoenixecto/phoenix_ecto.docset</string>
				<string>~/Library/Application Support/Dash/Hex DocSets/phoenixhtml/phoenix_html.docset</string>
				<string>~/Library/Application Support/Dash/Hex DocSets/phoenixliveview/phoenix_live_view.docset</string>
				<string>~/Library/Application Support/Dash/Hex DocSets/guardian/guardian.docset</string>
				<string>~/Library/Application Support/Dash/Hex DocSets/bcryptelixir/bcrypt_elixir.docset</string>
				<string>~/Library/Application Support/Dash/Hex DocSets/plug/plug.docset</string>
				<string>~/Library/Application Support/Dash/Hex DocSets/timex/timex.docset</string>
				<string>~/Library/Application Support/Dash/Hex DocSets/jason/jason.docset</string>
				<string>~/Library/Application Support/Dash/Hex DocSets/mox/mox.docset</string>
				<string>~/Library/Application Support/Dash/Hex DocSets/comeonin/comeonin.docset</string>
				<string>~/Library/Application Support/Dash/Hex DocSets/decimal/decimal.docset</string>
				<string>~/Library/Application Support/Dash/Hex DocSets/exmachina/ex_machina.docset</string>
				<string>~/Library/Application Support/Dash/Hex DocSets/csv/csv.docset</string>
				<string>~/Library/Application Support/Dash/Hex DocSets/tesla/tesla.docset</string>
				<string>~/Library/Application Support/Dash/Hex DocSets/wallaby/wallaby.docset</string>
				<string>~/Library/Application Support/Dash/Hex DocSets/bamboo/bamboo.docset</string>
				<string>~/Library/Application Support/Dash/Hex DocSets/surface/surface.docset</string>
				<string>~/Library/Application Support/Dash/Hex DocSets/myxql/myxql.docset</string>
				<string>~/Library/Application Support/Dash/Hex DocSets/openapispex/open_api_spex.docset</string>
				<string>~/Library/Application Support/Dash/Hex DocSets/sentry/sentry.docset</string>
				<string>~/Library/Application Support/Dash/Hex DocSets/tzdata/tzdata.docset</string>
				<string>~/Library/Application Support/Dash/Hex DocSets/calendar/calendar.docset</string>
			</array>
			<key>name</key>
			<string>beam</string>
			<key>searchSnippets</key>
			<false/>
			<key>triggers</key>
			<array>
				<dict>
					<key>description</key>
					<string>"beam:" is typed in the main search field</string>
					<key>image</key>
					<string>searchKeywordIcon</string>
					<key>isKeywordTrigger</key>
					<true/>
					<key>keyword</key>
					<string>beam:</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>docsets</key>
			<array>
				<string>~/Library/Application Support/Dash/Hex DocSets/phoenix/phoenix.docset</string>
				<string>~/Library/Application Support/Dash/Hex DocSets/surface/surface.docset</string>
				<string>~/Library/Application Support/Dash/Hex DocSets/phoenixhtml/phoenix_html.docset</string>
				<string>~/Library/Application Support/Dash/Hex DocSets/phoenixliveview/phoenix_live_view.docset</string>
				<string>~/Library/Application Support/Dash/Hex DocSets/plug/plug.docset</string>
				<string>~/Library/Application Support/Dash/Hex DocSets/guardian/guardian.docset</string>
				<string>~/Library/Application Support/Dash/DocSets/HTML/HTML.docset</string>
				<string>~/Library/Application Support/Dash/DocSets/CSS/CSS.docset</string>
				<string>~/Library/Application Support/Dash/DocSets/Angular/Angular.docset</string>
				<string>~/Library/Application Support/Dash/DocSets/Elixir/Elixir.docset</string>
				<string>~/Library/Application Support/Dash/DocSets/JavaScript/JavaScript.docset</string>
				<string>~/Library/Application Support/Dash/DocSets/TypeScript/TypeScript.docset</string>
				<string>~/Library/Application Support/Dash/Hex DocSets/wallaby/wallaby.docset</string>
				<string>~/Library/Application Support/Dash/DocSets/React/React.docset</string>
				<string>~/Library/Application Support/Dash/Hex DocSets/openapispex/open_api_spex.docset</string>
				<string>~/Library/Application Support/Dash/Hex DocSets/plugcrypto/plug_crypto.docset</string>
				<string>~/Library/Application Support/Dash/Hex DocSets/phoenixview/phoenix_view.docset</string>
				<string>~/Library/Application Support/Dash/Hex DocSets/phoenixtemplate/phoenix_template.docset</string>
			</array>
			<key>name</key>
			<string>web</string>
			<key>searchSnippets</key>
			<false/>
			<key>triggers</key>
			<array>
				<dict>
					<key>description</key>
					<string>"web:" is typed in the main search field</string>
					<key>image</key>
					<string>searchKeywordIcon</string>
					<key>isKeywordTrigger</key>
					<true/>
					<key>keyword</key>
					<string>web:</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>shouldRestoreTabs</key>
	<true/>
	<key>shouldShowStatusIcon</key>
	<false/>
	<key>shouldSyncDocsets</key>
	<true/>
	<key>shouldSyncGeneral</key>
	<true/>
	<key>showInDock</key>
	<true/>
	<key>versionedDHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHClojureRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHDartRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHGitHubRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHHaskellRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedFeeds</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>http://kapeli.com/feeds/Elixir.xml</key>
			<dict>
				<key>1.5.3</key>
				<dict>
					<key>date</key>
					<date>2022-01-02T17:18:56Z</date>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
</dict>
</plist>
